@page
@model MascotaFeliz.App.Frontend.Pages.DetallesVeterinariosModel
@{
}
<link rel="stylesheet" href="~/css/detalle.css">
<link rel="stylesheet" href="~/css/style.css">
<h3>Detalles del Veterinarios</h3>
<div class="contenedor-principal">
    
    <p>id: @Model.veterinario.Id</p>
    <p>Nombre: @Model.veterinario.Nombres</p>
    <p>Apellido: @Model.veterinario.Apellidos</p>
    <p>Direccion: @Model.veterinario.Direccion</p>
    <p>Telefono: @Model.veterinario.Telefono</p>
    @* <p>Correo: @Model.veterinario.Correo</p> *@
    <div class="contenedor-boton">
        
        <a asp-page="./ListaVeterinarios"><button type="button" class="boton">Lista Veterinarios</button></a>
        
    </div>

</div>
