@page
@model MascotaFeliz.App.Frontend.Pages.ListaVeterinariosModel
@{
}
<link rel="stylesheet" href="~/css/listaVeterinario.css">
<link rel="stylesheet" href="~/css/style.css">
<link rel="stylesheet" href="~/css/table.css">

<h3>Lista de Veterinarios</h3>

<div class="contenedor-principal">

    <table class="content-table">

        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Dirección</th>
                <th>Telefono</th>
                <th>Tarjeta Profesional</th>
                <th>Detalle</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>

        <tbody>
            @foreach(var veterinario in Model.listaVeterinarios)
            {
                <tr>

                    <td>@veterinario.Nombres</td>
                    <td>@veterinario.Apellidos</td>
                    <td>@veterinario.Direccion</td>
                    <td>@veterinario.Telefono</td>
                    <td>@veterinario.TarjetaProfesional</td>

                    <td>
                        <a asp-page="./DetallesVeterinarios" asp-route-veterinarioId="@veterinario.Id"><img src="../img/persona.png"></a>
                    </td>

                    <td>
                        <a asp-page="./EditarVeterinarios" asp-route-veterinarioId="@veterinario.Id"><img src="../img/lapiz.png"></a>
                    </td>
                    <td>
                        <a class="boton">X</a>
                    </td>
                </tr>
            }
        </tbody>

    </table>
    <div class="contenedor-botones">
        <a asp-page="./EditarVeterinarios" class="boton"> Adicionar Veterinario </a>
    </div>
</div>