@page
@model MascotaFeliz.App.Frontend.Pages.DetallesMascotasModel
@{
}
<link rel="stylesheet" href="~/css/detalle.css">
<link rel="stylesheet" href="~/css/style.css">
<h3>Detalles del Mascotas</h3>
<div class="contenedor-principal">
    
    <p>id: @Model.mascota.Id</p>
    <p>Nombre: @Model.mascota.Nombre</p>
    <p>Color: @Model.mascota.Color</p>
    <p>Especie: @Model.mascota.Especie</p>
    <p>Raza: @Model.mascota.Raza</p>
    <div class="contenedor-boton">
        <a asp-page="./ListaMascotas" Class="boton">Lista Mascotas</a>
    </div>

</div>
