@page
@model MascotaFeliz.App.Frontend.Pages.ListaMascotasModel
@{
}
<link rel="stylesheet" href="~/css/listaMascota.css">
<link rel="stylesheet" href="~/css/style.css">
<link rel="stylesheet" href="~/css/table.css">

<h3>Lista de Mascotas</h3>

<div class="contenedor-principal">

    <table class="content-table">

        <thead>
            <tr>
                <th>Nombre</th>
                <th>Color</th>
                <th>Especie</th>
                <th>Raza</th>
                <th>Detalle</th>
                <th>Editar</th>
                @* <th>Historia</th> *@
            </tr>
        </thead>

        <tbody>
            @foreach(var mascota in Model.listaMascotas)
            {
                <tr>

                    <td>@mascota.Nombre</td>
                    <td>@mascota.Color</td>
                    <td>@mascota.Especie</td>
                    <td>@mascota.Raza</td>


                    <td>
                        <a asp-page="./DetallesMascotas" asp-route-mascotaId="@mascota.Id"><img src="../img/persona.png"></a>
                    </td>

                    <td>
                        <a asp-page="./EditarMascotas" asp-route-mascotaId="@mascota.Id"><img src="../img/lapiz.png"></a>
                    </td>

                    @* <td>
                        <a asp-page="./HistoriaMascotas" asp-route-mascotaId="@mascota.Id"><img src="../img/lapiz.png"></a>
                    </td> *@
                </tr>
            }
            
        </tbody>

    </table>
    <div class="contenedor-botones">
        <a asp-page="./EditarMascotas" class="boton"> Adicionar mascota </a>
    </div>
</div>